html {
    background-color: black;
    color: white;
    text-align: center;
}
div {
    width: 400px;
    margin: auto;
    margin-top: 20px;

}
img {
    border: 5px solid white;
    height: 400px;
    width: 400px;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 2rem;
    text-transform: uppercase;
}

body p {
    font-family: 'Inconsolata', monospace;
    width: 300px;
    margin: auto;
}

a {
    text-decoration: none;
    color: white;
}

hr {
    border: 0.5px solid white;
}

footer {
    font-size: 12px;
    padding: 10px;
}

#link {
    margin-bottom: 20px;
}
